body {
  background-color: #282A36
}

.App {
  /* min-height: 100vh; */
  width: 100%;
  max-width: 900px;
  aspect-ratio: 1/1.4142;
  background-color: white;
  margin: 0 auto;
  padding: 1.5rem;
}


* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
  color: #5b6e80;
  font-size: 0.95rem;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-position: inside;
}


.block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}


.primary-title {
  font-size: 1rem;
  font-weight: 600;
  color: #3b4147;
}

.hidden-input{
  border: none;
  outline: none;
  background-color: transparent;
}